html,
aside.VPSidebar {
    overflow: overlay;
}


// 针对页面主内容区域的样式定制
.main {

    // 二级标题
    h2[id] {
        color: var(--subtitle-color);
    }

    // 四级标题
    h4[id] {
        color: var(--fourth-title-color);
    }

    // 徽章
    .project_badge {
        height     : calc(100% - 24px);
        display    : flex;
        align-items: center;
        column-gap : 12px;
        position   : absolute;
        top        : 24px;
        right      : 0;

        &>img {
            height: 20px;
        }
    }
}

// 针对页面顶部header内容区域的样式定制
.VPNav {
    .container {
        .title {
            background             : var(--vp-home-hero-name-background);
            -webkit-background-clip: text;
            background-clip        : text;
            -webkit-text-fill-color: var(--vp-home-hero-name-color);
        }
    }
}

// mini表格样式
.mini_table {
    th {
        font-size  : 12px;
        line-height: normal;
        padding: 6px 8px;
    }
}